In [1]:
# Imports
import re
import geonamescache
import pandas as pd

In [2]:
# Open the headlines file and insert them into a list
file = open("data/headlines.txt", 'r')
headlines_list = []
for line in file.readlines():
    headlines_list.append(line.strip())
file.close()

In [3]:
# Creates a GeonamesCache object
gc = geonamescache.GeonamesCache()

# List of country names
countries_dict = gc.get_countries_by_names()
countries = countries_dict.keys()

In [4]:
# List of cities names
cities_dict = gc.get_cities()
cities = []
for city in cities_dict: 
    if len(cities_dict[city]['name']) > 2: # Avoid 'Of' names
        cities.append(cities_dict[city]['name'])

In [5]:
# Create headlines dataframe
headlines = pd.DataFrame(headlines_list, columns=['headline'])
headlines.head()

                                  headline
0                 Zika Outbreak Hits Miami
1          Could Zika Reach New York City?
2        First Case of Zika in Miami Beach
3  Mystery Virus Spreads in Recife, Brazil
4  Dallas man comes down with case of Zika

In [6]:
# Country name regex
country_name_regex = r"("+r"\b|\b".join(countries)+r")"

In [7]:
# City name regex
city_name_regex = r"("+r"\b|\b".join(cities)+r")"

In [8]:
for index, row in headlines.iterrows():
    # Matching any country names
    matched_countries = re.search(country_name_regex, row.headline, flags=re.IGNORECASE)
    if matched_countries is not None:
        headlines.at[index, 'countries'] = matched_countries[0]
        
    # Matching any City names
    matched_cities = re.search(city_name_regex, row.headline, flags=re.IGNORECASE)
    if matched_cities is not None:
        headlines.at[index, 'cities'] = matched_cities[0]

In [9]:
headlines.head()

                                  headline         cities countries
0                 Zika Outbreak Hits Miami          Miami       NaN
1          Could Zika Reach New York City?  New York City       NaN
2        First Case of Zika in Miami Beach          Miami       NaN
3  Mystery Virus Spreads in Recife, Brazil         Recife    Brazil
4  Dallas man comes down with case of Zika         Dallas       NaN

In [10]:
headlines

,headline,cities,countries
0,Zika Outbreak Hits Miami,Miami,NaN
1,Could Zika Reach New York City?,New York City,NaN
2,First Case of Zika in Miami Beach,Miami,NaN
3,"Mystery Virus Spreads in Recife, Brazil",Recife,Brazil
4,Dallas man comes down with case of Zika,Dallas,NaN
5,Trinidad confirms first Zika case,Trinidad,NaN
6,Zika Concerns are Spreading in Houston,Houston,NaN
7,Geneve Scientists Battle to Find Cure,NaN,NaN
8,The CDC in Atlanta is Growing Worried,Atlanta,NaN
9,Zika Infested Monkeys in Sao Paulo,NaN,NaN
10,Brownsville teen contracts Zika virus,Brownsville,NaN
11,Mosquito control efforts in St. Louis take new...,St. Louis,NaN
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,NaN
13,"Flu outbreak in Galveston, Texas",Galveston,NaN
14,Zika alert â€“ Manila now threatened,Manila,NaN
15,Zika afflicts 7 in Iloilo City,Iloilo,NaN
16,New Los Angeles Hairstyle goes Viral,Los Angeles,NaN
17,Louisiana Zika cases up to 26,NaN,NaN
18,Orlando volunteers aid Zika research,Orlando,NaN
19,Zika infects pregnant woman in Cebu,NaN,NaN
20,Chicago's First Zika Case Confirmed,Chicago,NaN
21,Tampa Bay Area Zika Case Count Climbs,Tampa,NaN
22,"Bad Water Leads to Sickness in Flint, Michigan",Flint,NaN
23,Baltimore plans for Zika virus,Baltimore,NaN
24,London Health Unit Tracks Mad Cow Disease,London,NaN
25,Zika cases in Vietnam's Ho Chi Minh City surge,Ho Chi Minh City,Vietnam
26,Philadelphia experts track pandemic,Philadelphia,NaN
27,Flu season hits Boston,Boston,NaN
28,Scientists in Paris to look for answers,Paris,NaN
29,Key Zika Findings in San Diego Institute,San Diego,NaN
...,...,...,...
620,How to Avoid Chikungunya in Hampton,Hampton,NaN
621,Zika Reported in Sao Jose,NaN,NaN
622,Case of Norovirus Reported in Stratford,Stratford,NaN
623,How to Avoid Hepatitis E in South Bend,South Bend,NaN
624,Hepatitis C Outbreak in Bethlehem,Bethlehem,NaN
625,Davenport is infested with Dengue,Davenport,NaN
626,Rumors about Swine Flu spreading in Suzhou hav...,Suzhou,NaN
627,Malaria Vaccine is now Required in Elyria,Elyria,NaN
628,Zika case reported in Antioquia,NaN,NaN
629,Case of Swine Flu Reported in Tbilisi,Tbilisi,NaN
630,Chikungunya has not Left Pismo Beach,NaN,NaN
631,Zika spreads to La Joya,NaN,NaN
632,Influenza Keeps Spreading in Suffolk,Suffolk,NaN
633,More people in Allentown are infected with Chl...,Allentown,NaN
634,Mad Cow Disease re-emerges in Bedford,Bedford,NaN
635,Authorities are Worried about the Spread of He...,Yiwu,NaN
636,Zika Outbreak in Yurimaguas,Yurimaguas,NaN
637,Dengue Outbreak in Easton,Easton,NaN
638,Varicella has Arrived in Milton,Milton,NaN
639,New medicine wipes out Meningitis in Sevilla,Sevilla,NaN
640,Authorities are Worried about the Spread of Va...,Clovis,NaN
641,More Zika patients reported in Fort Worth,Fort Worth,NaN
642,Zika symptoms spotted in Boynton Beach,Boynton Beach,NaN
643,Outbreak of Zika in Portoviejo,Portoviejo,NaN
644,Influenza Exposure in Muscat,Muscat,NaN
645,Rumors about Rabies spreading in Jerusalem hav...,Jerusalem,NaN
646,More Zika patients reported in Indang,Indang,NaN
647,Suva authorities confirmed the spread of Rotav...,Suva,NaN
648,More Zika patients reported in Bella Vista,Bella Vista,NaN
649,Zika Outbreak in Wichita Falls,Wichita,NaN